@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #f9f9f9;
  --foreground: #222222;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-objective {
  font-family: var(--font-objective);
}

.text-stroke-lg {
  -webkit-text-stroke: 3px white;
}

.text-stroke-md {
  -webkit-text-stroke: 2px white;
}

.text-stroke-sm {
  -webkit-text-stroke: 1px white;
}
